<div class="medium-8 medium-centered columns">
  <h1>About Me</h1>
  <p>
    I was born in Bountiful, Utah, but have lived in seven different states in my lifetime, with California being my current home. I've had a passion for art since I was young and won my fourth grade yearbook cover drawing contest (those were proud times). In highschool, I learned how to properly use and fell in love with Adobe Photoshop and Illustrator. I've been pulling things apart and trying (sometimes unsuccessfully) to figure out how they work and fix them and put them back together since I can remember. I finally got around to building my own custom PC and loved the experience!
  </p>
  <p>
    When I came across free tutorials online for begining web design/programming, my wife couldn't peel me away from my computer for days. I recently had the opportunity to attedend a 11 week, intensive web development program called DevPoint Labs. It was the hardest I've ever worked at something, putting in roughly 70 hours a week learning to code, but it was well worth the effort. I'm now building my own responsive web applications using Ruby on Rails and a myriad of other technologies. Learning is a lifelong experience and I'm excited to now be in a field where the opportunities are limitless.
  </p>
  <p>
    Aside from web development, I'm an avid music lover (don't even get me started on my favorite bands). I also love hiking and camping, shooting guns, working on cars, and spending time with my family.
  </p>

  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
    <li>
      <img src="/img/landon3.jpg" alt="landon3" />
    </li>
    <li>
      <img src="/img/landon1.jpg" alt="landon1" />
    </li>
    <li>
      <img src="/img/landon4.jpg" alt="landon4" />
    </li>
    <li>
      <img src="/img/landon2.jpg" alt="landon2" />
    </li>
    <li>
      <img src="/img/landon5.jpg" alt="landon5" />
    </li>
  </ul>

  <a href="/">Home</a>
</div>
