<div class="medium-8 medium-centered columns">
  <h1>About Me</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada, lacus nec hendrerit congue, augue turpis fermentum risus, eget ullamcorper odio risus sit amet nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse hendrerit, justo et pellentesque volutpat, justo ante egestas diam, at luctus velit felis id neque. Vivamus eu aliquam felis, at efficitur elit. Phasellus blandit nisi mauris, sit amet placerat est pharetra quis. Cras faucibus elementum rutrum. Donec volutpat vitae urna et luctus. Pellentesque at pharetra libero. Mauris posuere vitae orci vitae hendrerit.
  </p>
  <p>
    Proin ac dignissim ligula. Sed molestie sapien nec nunc blandit hendrerit. Pellentesque et vulputate ex. Proin aliquet sapien nec lorem tincidunt, eget volutpat nisl congue. Sed blandit dignissim fringilla. Integer luctus nisl tellus, vel ultricies libero ultrices at. In hac habitasse platea dictumst.
  </p>

  <a href="/">Home</a>
</div>
