<!--
<div class="row">
  <div class="small-8 small-offset-4 columns">
    <img src="/img/landon_photo.jpg" alt="Landon West" />
  </div>
</div>
<div class="row">
  <div class="small-8 small-offset-4 columns">
    <h1>Landon West</h1>
  </div>
</div>
<div class="row">
  <div class="small-8 small-offset-4 columns">
    <a href="https://github.com/landonwest"><i class="fi-social-github size-48"></i></a>
    <a href="http://www.linkedin.com/in/landonwest"><i class="fi-social-linkedin size-48"></i></a>
    <a href="https://twitter.com/Lando726"><i class="fi-social-twitter size-48"></i></a>
    <a href="https://plus.google.com/+LandonWest"><i class="fi-social-google-plus size-48"></i></a>
    <br><a href="/resume">Landon's Resume</a>
    <p class="italic small-text">accessed on: <%= Time.now.strftime("%m/%d/%Y at: %I:%M%p") %></p>
  </div>
</div> -->

<div class="picture">
  <img src="/img/landon_photo.jpg" alt="Landon West" />
</div>
<div class="links">
  <h1>Landon West</h1>
  <a href="https://github.com/landonwest" class="left-a"><i class="fi-social-github size-48"></i></a>
  <a href="http://www.linkedin.com/in/landonwest"><i class="fi-social-linkedin size-48"></i></a>
  <a href="https://twitter.com/Lando726"><i class="fi-social-twitter size-48"></i></a>
  <a href="https://plus.google.com/+LandonWest"><i class="fi-social-google-plus size-48"></i></a>
  <br><a href="/resume" class="rez-link">Landon's Resume</a>
  <p class="italic small-text center">accessed on: <%= Time.now.strftime("%m/%d/%Y at: %I:%M%p") %></p>
</div>
