<!DOCTYPE html>
<html>

  <head>
    <title>Landon West</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="/css/foundation-icons/foundation-icons.css">
    <script src="js/vendor/modernizr.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
