<div class="medium-8 medium-centered columns">
  <h1>Projects</h1>

  <h4>patchaTech - 2014</h4>
  <p>
    Proin ac dignissim ligula. Sed molestie sapien nec nunc blandit hendrerit. Pellentesque et vulputate ex. Proin aliquet sapien nec lorem tincidunt, eget volutpat nisl congue. Sed blandit dignissim fringilla. Integer luctus nisl tellus, vel ultricies libero ultrices at. In hac habitasse platea dictumst.
  </p>
  <ul>
    <li>responsive</li>
    <li>collaboration over github</li>
  </ul>

  <h4>RecipeApp - 2014</h4>
  <p>
    Proin ac dignissim ligula. Sed molestie sapien nec nunc blandit hendrerit. Pellentesque et vulputate ex. Proin aliquet sapien nec lorem tincidunt, eget volutpat nisl congue. Sed blandit dignissim fringilla. Integer luctus nisl tellus, vel ultricies libero ultrices at. In hac habitasse platea dictumst.
  </p>
  <ul>
    <li>responsive</li>
    <li>recipe api</li>
  </ul>

  <a href="/">Home</a>
</div>
