<div class="medium-8 medium-centered columns">
  <h1>Projects</h1>

  <h4>patchaTech - 2014</h4>
  <h5><a href="www.patchatech.com">www.patchatech.com</a></h5>
  <p>
    PatchaTech was conceived as a capstone project by myself and two other students of DevPoint Labs. The idea was simple: create a website that fills the need for free, peer-submitted and reviewed tutorials that tackle common issues with today's modern devices. By making PatchaTech your go to site for gaining new knowledge and skills, you'll end up saving a fistful of dollars (and more than a few headeaches!) fixing your devices yourself.
  </p>
  <ul>
    <li>built and deployed in one month</li>
    <li>collaboration over github</li>
    <li>responsive</li>
  </ul>
  <ul class="inline-list technos">
    <li>Ruby</li>
    <li>Rails</li>
    <li>HTML5/CSS3</li>
    <li>postgreSQL</li>
    <li>Foundation</li>
    <li>Devise</li>
    <li>ElasticSearch</li>
    <li>CarrierWave</li>
    <li>Heroku</li>
    <li>AWS</li>
  </ul>

  <img src="/img/responsive1.png" alt="patchatech-responsive" />

  <!-- <h4>RecipeApp - 2014</h4>
  <p>
    details to come...
  </p> -->
  <!-- <ul>
    <li></li>
    <li></li>
  </ul> -->

  <a href="/">Home</a>
</div>
