<!-- <img src="https://s3-us-west-1.amazonaws.com/landon.test/LWresume.png" alt="resume" /> -->
<div class="medium-8 medium-centered columns">

  <h1 class=centered>Landon Eric West</h1>
  <ul class="no-bullet">
    <li>Lafayette, CA</li>
    <li>LandonWest5 [at] gmail</li>
    <li><a href="https://github.com/landonwest" target="_blank">https://github.com/LandonWest</a></li>
    <li><a href="http://www.linkedin.com/in/landonwest" target="_blank">www.linkedin.com/in/LandonWest</a></li>
  </ul>

  <div class="">
    <h4>Education</h4>
    <h5 class="subheader">DevPoint Labs, Salt Lake City, UT<span class="right">May 2014 - Aug 2014</span></h5>
    <ul class="circle">
      <li>11 week, immersive web development boot camp</li>
      <li>Skills: Ruby, Rails, Javascript, jQuery, HTML5, CSS3, PostgreSQL, Foundation, RSpec, Git version control</li>
      <li>Learned how to collaborate with a team to develop and deploy live web apps</li>
    </ul>

    <h5 class="subheader">University of Utah, Salt Lake City, UT<span class="right">  Aug 2008 - Dec 2011</span></h5>
    <ul class="circle">
      <li>Bachelor of Arts, Middle East Studies: Persian; Minor in Political Science</li>
      <li>Co-founder of University of Utah Persian Club</li>
    </ul>
  </div>


  <div class="">
    <h4>Certifications</h4>
    <h5 class="subheader">CompTia A+<span class="right">Feb 2014 - Feb 2017</span></h5>
    <ul class="circle">
      <li>Maintenance of PCs, mobile devices, laptops, operating systems, and printers</li>
    </ul>
  </div>

  <div class="">
    <h4>Experience</h4>
    <h5 class="subheader">Security Officer,  Hollywood Presbyterian Medical Center<span class="right">Oct 2013 - May 2014</span></h5>
    <h5 class="subheader">Front Desk Coordinator (Contract),  Edmunds.com<span class="right">Aug 2013 - Sep 2013</span></h5>
    <h5 class="subheader">Security Guard,  Contemporary Services Corporation<span class="right">May 2013 - Oct 2013</span></h5>
    <h5 class="subheader">Technician Assistant,  Hill-Rom<span class="right">Feb 2012 - Feb 2013</span></h5>
    <h5 class="subheader">Creative Assistant,  Bubble & Bee Organic<span class="right">Nov 2010 - Dec 2011</span></h5>
    <h5 class="subheader">Office & Print Center Specialist,  OfficeMax<span class="right">Mar 2009 - Dec 2010</span></h5>
  </div>

  <br><a href="/">Home</a>

</div>
