<h1>Landon Eric West</h1>
<h3>3423 Silver Springs Ct.<br>Lafayette, CA 94549</h3>
<h3>(C) 801.739.1010<br>(H) 925.268.0328</h3>
<h3>LandonWest5@gmail.com</h3>
<h3><a href="https://github.com/landonwest">https://github.com/LandonWest</a></h3>
<h3><a href="http://www.linkedin.com/in/landonwest">www.linkedin.com/in/LandonWest</a></h3>
<a href="/">Home</a>
