.container {
  padding: 20px;
}
.italic {
  font-style: italic;
}
.small-text {
  font-size: 0.6em;
}
.centered {
  text-align: center;
}
.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*border-radius: 10px;*/
}
img {
  border-radius: 10px;
}
.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 20em
}
.icon-left {
  padding-left: 0.1em;
}
.technos li {
  color: #6F6F6F;
}
/*h5 a {
  color: #583260;
}*/
